<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/rooms"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Editar</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="editFunction()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editFrom">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" color="dark">
              <ion-icon name="finger-print-outline"></ion-icon>  Id
            </ion-label>
            <ion-input type="hide" autocomplete autocorrect formControlName="id"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" color="dark">
              <ion-icon name="text-outline"></ion-icon>  Titulo
            </ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="title"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" color="dark">
              <ion-icon name="accessibility-outline"></ion-icon>  Ocupacion
            </ion-label>
            <ion-input type="number" autocomplete autocorrect formControlName="ocupation"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" color="dark">
              <ion-icon name="hand-left-outline"></ion-icon>  Estado
            </ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="status"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" color="dark">
              <ion-icon name="document-text-outline"></ion-icon>  Descripción
            </ion-label>
            <ion-textarea row="3" formControlName="description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" color="dark">
              <ion-icon name="calculator-outline"></ion-icon>  Precio
            </ion-label>
            <ion-input type="number" autocomplete autocorrect formControlName="price"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" color="dark">
              Img
            </ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="img"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="editFrom.status !== 'VALID' ">
        <ion-col size-sm="6" offset-sm="3">
          <p>Todos los campos son requeridos</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button size="large" color="success" expand="full" (click)="editFunction()" class="ion-text-center">Editar</ion-button>
  </form>
</ion-content>
