<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Inicio de Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" color="dark">
              <ion-icon name="user"></ion-icon> Email
            </ion-label>
            <ion-input
              type="text"
              autocomplete
              autocorrect
              formControlName="email"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" color="dark">
              <ion-icon name="user"></ion-icon> Contraseña
            </ion-label>
            <ion-input
              type="password"
              autocomplete
              autocorrect
              formControlName="password"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="form.status !== 'VALID' ">
        <ion-col size-sm="6" offset-sm="3">
          <p>Todos los campos son requeridos</p>
        </ion-col>
      </ion-row>
      <ion-button
        size="large"
        color="primary"
        expand="full"
        (click)="logIn()"
        class="ion-text-center"
        >Iniciar Sesión</ion-button
      >
    </ion-grid>
  </form>
</ion-content>
