<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/rooms"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Agregar Habitación</ion-title>
    <ion-avatar slot="end">
      <ion-img id = "avatar-size" *ngIf ="user" [src]="user.img" [routerLink]="['../../user/',user.id]" float-right></ion-img>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" color="dark">
              <ion-icon name="text-outline"></ion-icon> Titulo
            </ion-label>
            <ion-input
              type="text"
              autocomplete
              autocorrect
              formControlName="title"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" color="dark">
              <ion-icon name="people"></ion-icon> Capacidad
            </ion-label>
            <ion-select
              formControlName="ocupation"
              placeholder="Elija la capacidad de la habitacion"
            >
              <ion-select-option value="1">Individual</ion-select-option>
              <ion-select-option value="2">Doble</ion-select-option>
              <ion-select-option value="3">Triple</ion-select-option>
              <ion-select-option value="4">Cuadruple</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" color="dark">
              <ion-icon name="hand-left-outline"></ion-icon> Estado
            </ion-label>
            <ion-select formControlName="status" placeholder="Elija el estado">
              <ion-select-option value="Activa">Activa</ion-select-option>
              <ion-select-option value="Inactiva">Inactiva</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" color="dark">
              <ion-icon name="pin"></ion-icon> Localización
            </ion-label>
            <ion-select formControlName="location" placeholder="Elija la localización">
              <ion-select-option value="Alajuela">Alajuela</ion-select-option>
              <ion-select-option value="Heredia">Heredia</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" color="dark">
              <ion-icon name="document-text-outline"></ion-icon> Descripción
            </ion-label>
            <ion-textarea row="3" formControlName="description"></ion-textarea>
          </ion-item>
          <ion-row
            *ngIf="!form.get('description').valid && form.get('description').touched"
          >
            <ion-col size-sm="6" offset-sm="3">
              <p>La descripción debe ser menor a 180 caracteres</p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" color="dark"> Img </ion-label>
            <img [src]="newImage" />
            <ion-buttons slot="end">
              <ion-button>
                <label for="file-upload">
                  <ion-icon slot="icon-only" name="images"></ion-icon>
                </label>
                <input
                  (change)="newImageUpload($event)"
                  id="file-upload"
                  style="display: none"
                  type="file"
                  accept="image/*"
                />
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-button
        size="large"
        color="primary"
        expand="full"
        (click)="addFunction()"
        class="ion-text-center"
        >Agregar</ion-button
      >
      <ion-row *ngIf="form.status !== 'VALID' ">
        <ion-col size-sm="6" offset-sm="3">
          <p>Debe llenar todos los campos</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
