<ion-header>
  <ion-toolbar>
    <ion-avatar slot="end">
      <ion-img id = "avatar-size" *ngIf ="user" [src]="user.img" [routerLink]="['../user/',user.id]" float-right></ion-img>
    </ion-avatar>
    <ion-buttons slot="start">
      <ion-button (click)="onPressSearch()">
        <ion-icon name="search" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['./', 'add']">
        <ion-icon name="add-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button *ngIf = "user && user.rol === 'Admin'" (click)="onPressPrice()">
        <ion-icon name="logo-usd" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <form [formGroup]="formPrice" *ngIf="displayPrice">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" color="dark">
              Precio por persona estandar
            </ion-label>
            <ion-input type="number" autocomplete autocorrect formControlName="price"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="formPrice.status !== 'VALID' ">
      </ion-row>
      <ion-button size="large" color="primary" expand="full" (click)="updatePrices()" class="ion-text-center">Actualizar
        Precio</ion-button>
    </ion-grid>
  </form>
  <form [formGroup]="formLocation" *ngIf="displaySearch">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating" color="dark">
              <ion-icon name="accessibility-outline"></ion-icon> Localización
            </ion-label>
            <ion-select
              formControlName="location"
              placeholder="Elija la Localización"
            >
              <ion-select-option *ngIf= "roomsByLocation" value="all">Todas</ion-select-option>
              <ion-select-option value="Alajuela">Alajuela</ion-select-option>
              <ion-select-option value="Heredia">Heredia</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="formLocation.status !== 'VALID' ">
        <ion-col size-sm="6" offset-sm="3">
          <p>Todos los campos son requeridos</p>
        </ion-col>
      </ion-row>
      <ion-button
        size="large"
        color="primary"
        expand="full"
        (click)="searchByLocation()"
        class="ion-text-center"
        >Buscar</ion-button
      >
    </ion-grid>
  </form>

  <ion-grid *ngIf="user && !roomsByLocation">
    <ion-row *ngFor="let room of rooms" [routerLink]="['./', room.id]">
  <ion-card *ngIf="user.rol === 'Admin'">
    <ion-item>
      <ion-card-header>
        <h2>{{room.title}}</h2>
      </ion-card-header>
      <label>$ {{room.price}} /noche</label>
    </ion-item>
    <ion-img [src]="room.img"></ion-img>
  </ion-card>
</ion-row>
</ion-grid>

<ion-grid *ngIf="user && !roomsByLocation">
  <ion-row *ngFor="let room of rooms" [routerLink]="['./', room.id]">
<ion-card *ngIf="room.status === 'Activa' && user.rol === 'Customer'">
  <ion-item>
    <ion-card-header>
      <h2>{{room.title}}</h2>
    </ion-card-header>
    <label>$ {{room.price}} /noche</label>
  </ion-item>
  <ion-img [src]="room.img"></ion-img>
</ion-card>
</ion-row>
</ion-grid>

<ion-grid *ngIf="user && roomsByLocation">
  <ion-row *ngFor="let room of roomsByLocation" [routerLink]="['./', room.id]">
  <ion-card *ngIf="room.status === 'Activa' && user.rol === 'Customer'">
    <ion-item>
      <ion-card-header>
        <h2>{{room.title}}</h2>
      </ion-card-header>
      <label>$ {{room.price}} /noche</label>
    </ion-item>
    <ion-img [src]="room.img"></ion-img>
  </ion-card>
  </ion-row>
</ion-grid>

<ion-grid *ngIf="roomsByLocation">
  <ion-row *ngFor="let room of roomsByLocation" [routerLink]="['./', room.id]">
  <ion-card *ngIf="user.rol === 'Admin'">
    <ion-item>
      <ion-card-header>
        <h2>{{room.title}}</h2>
      </ion-card-header>
      <label>$ {{room.price}} /noche</label>
    </ion-item>
    <ion-img [src]="room.img"></ion-img>
  </ion-card>
  </ion-row>
</ion-grid>

</ion-content>
